body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(56, 76, 83);
    color: white;
}

.nav--links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.homepage--container, .shop--container {
    padding: 15px;
}